@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

#jogo {
    display: flex;
    background-color: #2AF5FF;
    width: 100%;
    height: 500px;
    align-items: flex-end;
}

#torre1 {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 15px;
    height: 200px;
    background-color: black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}

#torre2 {
    margin-left: auto;
    margin-right: auto;
    width: 15px;
    height: 200px;
    background-color: black;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#torre3 {
    margin-left: auto;
    margin-right: auto;
    width: 15px;
    height: 200px;
    background-color: black;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#disco1 {
    background-color: #963484;
    width: 100px;
    height: 20px;
    border-radius: 5px;

}

#disco2 {
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    background-color: #3066BE;
    width: 80px;
    height: 20px;
    border-radius: 5px;
}

#disco3 {
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    background-color: #60AFFF;
    width: 60px;
    height: 20px;
    border-radius: 5px;
}

#disco4 {
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    background-color: #28C2FF;
    width: 40px;
    height: 20px;
    border-radius: 5px;
}

#store {
    width: 100px;
    height: 100px;
    background-color: black;
    opacity: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    border-radius: 25%;

}

#store  div{
    margin: auto;
}

.ground {
background-color: black;
height: 168px;
}
.win {
   
}

#reset {
    border-radius: 5px;
    background-color: black;
    color: #7dd2f3;
    position: absolute;
    top: 10px;
    right: 10px;
}