#jogo {
    display: flex;
    background-color: #2AF5FF;
    width: 100%;
    height: 500px;
    align-items: flex-end;
}

#torre1 {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 15px;
    height: 200px;
    background-color: black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
}

#torre2 {
    margin-left: auto;
    margin-right: auto;
    width: 15px;
    height: 200px;
    background-color: black;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;

}

#torre3 {
    margin-left: auto;
    margin-right: auto;
    width: 15px;
    height: 200px;
    background-color: black;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
}

#disco1 {
    background-color: #963484;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;

}

#disco2 {
    display: flex;
    flex-direction: column-reverse;
    background-color: #3066BE;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;

}

#disco3 {
    display: flex;
    flex-direction: column-reverse;
    background-color: #60AFFF;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;

}

#disco4 {
    display: flex;
    flex-direction: column-reverse;
    background-color: #28C2FF;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#store {
    width: 100px;
    height: 100px;
    background-color: black;
    opacity: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    border-radius: 25%;

}

#store  div{
    margin: auto;
}

.ground {
background-color: black;
height: 168px;
}

#reset {
    border-radius: 5px;
    background-color: black;
    color: #7dd2f3;
    position: absolute;
    top: 10px;
    right: 10px;
}

#contador {
    display: flex;
    border-radius: 1px;
    font-style: oblique;
    color: black;
    position: absolute;
    top: 10px;
    right: 50%;
}

#vencedor {
    height: 400px;
    background-color:rgba(238, 130, 238, 0.364);
    font-size: 100px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 20%;
    visibility: hidden;
}

#vencedor h1 {
   padding-top: 10%;
    font-style: oblique;
}

@media (min-width: 700px) {
    #vencedor {
        font-size: 150px;
    }
}
